@import '../../../../assets/styles/variables.scss';
@import '../../../../assets/styles/media.scss';

.wrapper-landing-page {
	.wrapper-footer {
		padding: 100px 11% 0px 11%;
		.middle-col {
			margin-left: auto;
		}
		.copy-right-menu {
			margin-top: 40px;
			padding: 30px 0px;
			border-top: 1px solid #ddd6d6;
			font-size: 16px;
			p {
				display: inline;
				span {
					color: $main-color-true-shop;
					a:hover {
						color: $main-color-true-shop;
					}
				}
			}
			.copy-right-menu-item {
				margin: 0;
				padding: 0;
				float: right;
				li {
					color: #989898;
					display: inline;
					margin-left: 30px;
				}
			}
		}
	
		.description-1,
		.description-2 {
			font-size: 17px;
			line-height: 24px;
			color: #333;
			font-weight: 400;
		}
		.description-1 {
			margin-top: 35px;
		}
		.description-1 {
			margin-top: 25px;
		}
		.headline {
			font-size: 25px;
			color: #333;
			font-weight: 700;
			position: relative;
			margin-bottom: 50px;
			&::after {
				position: absolute;
				content: '';
				bottom: -20px;
				height: 2px;
				width: 50px;
				left: 0;
				background-color: $main-color-true-shop;
			}
		}
		li {
			margin-bottom: 10px;
			color: #333;
			font-size: 17px;
			a:hover {
				color: $main-color-true-shop;
			}
			i {
				margin-right: 10px;
				color: $main-color-true-shop;
			}
		}
	}
}
@include for-medium-desktop {
	.wrapper-landing-page {
		.wrapper-footer {
			padding: 100px 11% 0px 10%;
            .navbar-brand {
                .brand {
                    .name-brand {
                        color: #212121;
                        span {
                            font-weight: 400;
                            color: #212121;
                        }
                    }
                    .link-website{
                        color: #212121;
                        font-weight: 500;
                    }
                }
            }
           
		}
        
	}
}
@include for-small-desktop {
	.wrapper-landing-page {
		.wrapper-footer {
			padding: 100px 4% 0px;
		}
	}
}
@include  for-tablet-landscape {
    .wrapper-landing-page {
		.wrapper-footer {
			padding: 100px 2% 0px;
		}
	}
}
@include for-tablet-portrait {
	.wrapper-landing-page {
		.wrapper-footer {
			padding: 100px 4% 0px;
            .copy-right-menu {
                .copy-right-menu-item {
                    float: left;
                    padding-bottom: 30px;

                    li{
                        margin-left: 0px;
                        margin-right: 30px;
                    }
                }
            }
		}
	}
}