@import '../../../../../assets/styles/variables.scss';
.wrapper-landing-page {
	.wrapper-modal-login {
		.modal-content {
			.tabs {
				.ant-tabs-content-holder {
					.ant-tabs-tabpane {
						.ant-form-item {
							margin-top: 10px;
							.ant-form-item-control-input-content {
								color: #fff;
								.login-form-button {
									background-color: $main-color-true-shop;
									font-weight: 500;
									border: none;
								}
								input {
									color: #000;
									font-weight: 500;
								}
								#normal_login_username {
									padding: 6px 17px;
									font-size: 15px;
									font-weight: 300;
									border-radius: 6px;
								}
								#normal_login_password {
									font-size: 15px;
									font-weight: 300;
								}
								.ant-input-affix-wrapper {
									padding: 6px 17px;
									font-size: 15px;
									font-weight: 300;
									border-radius: 6px;
								}
								.ant-checkbox-wrapper {
									color: #fff;
									font-weight: 500;
									font-size: 15px;
								}
								.ant-checkbox-wrapper-checked {
									.ant-checkbox-inner {
										background-color: $main-color-true-shop;
										border-color: $main-color-true-shop;
									}
									.ant-checkbox-checked::after {
										border: 1px solid $main-color-true-shop;
									}
								}

								.login-form-forgot {
									float: right;
									&:hover {
										color: $main-color-true-shop;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
