.w-100 {
	width: 100%;
}
.ml-80{
    margin-left: 80px!important;
}
.w-80{
    width: 80px!important;
}
.w-0{
    width: 0px!important;
}
.fw700{
    font-weight: 700!important;
}
.fw400{
    font-weight: 400!important;
}
.mb-100{
    margin-bottom: 100px!important;
}